prune .github
prune doc
prune foliplus/css
prune foliplus/js
prune foliplus.egg-info
prune script
prune test
exclude .editorconfig
exclude .gitattributes
exclude .gitignore
exclude .nvmrc
exclude .pre-commit-config.yaml
exclude .prettierrc.cjs
exclude .readthedocs.yaml
exclude codecov.yaml
exclude Makefile
exclude package.json
exclude tsconfig.json
exclude vitest.config.mjs
global-exclude .coverage
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.map
global-exclude __pycache__
global-exclude coverage.xml
