prune .github
prune script
prune ci
prune doc
prune test
prune foliplus/css
prune foliplus/js
prune foliplus.egg-info
exclude Makefile
exclude .editorconfig
exclude .gitattributes
exclude .gitignore
exclude .nvmrc
exclude .python-version
exclude .pre-commit-config.yaml
exclude .prettierrc
exclude .prettierrc.cjs
exclude .readthedocs.yaml
exclude setup.cfg
exclude tsconfig.json
exclude vitest.config.mjs
global-exclude *.pyc
global-exclude __pycache__
global-exclude .pytest_cache
global-exclude .coverage
global-exclude codecov.yaml
global-exclude coverage.xml
global-exclude package.json
global-exclude package-lock.json
global-exclude *.map
